button {
  /* background-color: blue; */
  /* width: 130px;
  height: 40px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  font-size: 20px;

  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: fit-content;
  height: 100vh;
  padding: 50px;
  background-color: lightseagreen;
  color: #fff;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  align-self: flex-start;
}

.link-btn {
  margin-bottom: 10px;
}

.btn-text{
  cursor: pointer;
}
