<div class="container mt-3">
    <h1 class="text-center" style="color: rgba(0, 0, 255, 0.673)">Select a Place</h1>


  <div class="form-group">
    <select class="form-control" id="place-selector" onchange="displayImage()">
      <option value="nabil">Nabil</option>
      <option value="Zaghouen">Zaghouen</option>
      <option value="tunis">Tunis</option>
      <!-- Add more options as needed -->
    </select>
    <button class="btn btn-primary mt-3" onclick="markAsGoing()">Going TO</button>
</div>
  </div>

  <div id="image-container" class="mt-3 text-center">
    <img
      src="https://images.unsplash.com/photo-1478860409698-8707f313ee8b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
      alt="Place Image"
      class="img-fluid"
     
    />
  </div>

